.gg {
    font-size: 18px;
    padding-left: 25px;
    display: inline-table;
}
.hh {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 160px;
    margin-top: 0;
}
@media (max-width:1024px) {
    .gg{
    font-size: 10px;
    padding-left: 10px;
    display: inline-grid;
    }
}
@media (max-width:768px) {
    .gg {
        border-radius: 50%;
    }
}
@media (max-width:425px) {
    .hh {
        font-size: 70px;
    }
}